body{
    text-align: center;
    background: orange;
    
    
}

p{
    font-size: 20px
}


.navigation-links{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border: 3px solid black ;
    font-size: 20px;
}

.form-container input {
    
    color: blue;
    padding: 10px;
    border: 2px solid black;

}