body{
    text-align: center;
    background: orange;
    
    
}

p{
    font-size: 20px
}


.navigation-links{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border: 3px solid black ;
    font-size: 20px;
}

.email-form{
padding: 16px;
border: 2px solid black;
width: 30%;
font-size: 16px;
border-radius: 10px;
line-height: 20px;
}

.email-button{
    padding: 16px;
        border: 2px solid black;
        
        font-size: 16px;
        border-radius: 10px;
        line-height: 20px;
}




select{
    font-size: 29px;
    border-radius: 10px 10px;
    border: 2px solid blue;
}