body{
    text-align: center;
    background: orange;
    
    
}

p{
    font-size: 20px
}


.navigation-links{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border: 3px solid black ;
    font-size: 20px;
}

.mailing-list {
    font-size: 29px;
    
    color: blue;
    padding: 10px;
    

}



select{
    font-size: 29px;
    border-radius: 10px 10px;
    border: 2px solid blue;
}