body{
    text-align: center;
    background: orange;
    
    
}

p{
    font-size: 20px
}


.navigation-links{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border: 3px solid black ;
    font-size: 20px;
}

.email-form{
padding: 16px;
border: 2px solid black;
width: 30%;
font-size: 16px;
border-radius: 10px;
line-height: 20px;
}

.email-button{
    padding: 16px;
        border: 2px solid black;
        
        font-size: 16px;
        border-radius: 10px;
        line-height: 20px;
}




select{
    font-size: 29px;
    border-radius: 10px 10px;
    border: 2px solid blue;
}

.calendar-button{
    margin-left: 10px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 14px 24px;
    width: 150px;
    font-size: 16px;
}

.calendar-button:hover{
    cursor: pointer;
}


footer{
    font-size: 14px;
    margin-top: 10px;
}

.calendar-heading{
    color: darkorange;
    font-size: 60px;
    padding: 60px;
}

.calendar-container{

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 50px 20px;
    background-image: url("https://lh3.googleusercontent.com/gps-cs-s/AG0ilSxIdKQCW6GmTKj6oK68_ue6H0jJPH0YsK1XV8w3zsR1S3wxwkqlQWaROrHwaWW84pSUrHHtaUepvRxVVX0cSJLxbr5H1aTEgfUf7o-5F1qe5eb8k82gfsRomebE4kLGObjM-goY=s1360-w1360-h1020-rw");
}